<ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-arrow-back" ng-click="GoBack('menuList')"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<header class="bar bar-header bar-dark">
    <h1 class="title">Inventory Management </h1>
</header>
<ion-tabs ng-controller="inventoryController">
    <ion-tab title="Today" ng-init="init()">
        <!--<ion-nav-view></ion-nav-view>-->
        <ion-view title="custom">
            <ion-content padding="true" style="overflow:auto">
                <ion-item>
                    <div style="text-align:center">
                        <label style="text-align:center; align-content:center;font-weight:bold"> Date :</label>
                        <label> {{todaysDate}}</label>
                    </div>

                </ion-item>
                <ion-item ng-repeat="item in listItems" ng-click="GoToItem(item)">
                    <div style="float:left" class="col-75">
                        <div class="row">
                            <label style="font-weight:bold">{{item.ItemName}}</label>
                        </div>
                        <div class="row">
                            <label>Total Quantity : </label>
                            <label>{{item.TotalItems}}</label>
                        </div>
                        <div class="row">
                            <label>Total Price : </label>
                            <label>{{item.TotalCost}}</label>
                        </div>

                    </div>
                    <div style="float:right;vertical-align:middle" class="col-25">
                        <button ng-click="DeleteInventoryItem(item)"> Delete </button>
                    </div>
                </ion-item>

            </ion-content>

        </ion-view>

        <drawer side="rightTop" style="height:260px;">

            <ion-view>

                <ion-content>
                    <ion-item class="bar bar-header bar-dark">
                        <h1 class="title">Search Criteria </h1>

                        <button menu-toggle="right" id="buttonCloseSearch" class="button-icon icon ion-android-cancel" style="float:right;margin-top:-12px !important;position:absolute;margin-left:-15px!important;font-size:10px !important;color:white" ng-click="toggleDrawer()"></button>

                    </ion-item>

                    <ion-item>
                        <label>Search : </label>
                        <input type="text" style="float:right;border:2px solid black" ng-model="SearchByName" id="SearchByName" ng-change="SearchData()">
                    </ion-item>


                </ion-content>
            </ion-view>
        </drawer>

        <ion-footer-bar class="bar-dark">


            <button class="button" style="float:left" ng-click="showPopup()"> Add </button>


            <!--<div class="buttons" ng-click="doSomething()" style="width:25%">
                <button class="button" >Edit</button>
            </div>

            <div class="buttons" ng-click="doSomething()" style="width:25%">
                <button class="button"> Delete </button>
            </div>-->


            <button class="button" ng-click="toggleDrawer()" style="float : right !important ">
                <img src="../../../images/search1.png" style="width:30px;height:25px;" />
            </button>


        </ion-footer-bar>
    </ion-tab>
    <ion-tab title="Custom">

        <ion-view title="custom" id="customDates" ng-show="!isVisibleCustomData">
            <ion-content padding="true">
                <ion-item>
                    <p style="color : black;font-weight : bold">From : </p>
                    <ionic-datepicker input-obj="datepickerObject">
                        <button class="button button-block"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
                    </ionic-datepicker>
                </ion-item>
                <ion-item>
                    <p style="color : black; font-weight:bold">To : </p>
                    <ionic-datepicker input-obj="datepickerToObject">
                        <button class="button button-block"> {{datepickerToObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
                    </ionic-datepicker>
                </ion-item>
            </ion-content>
            <ion-footer-bar class="bar-dark">
                <button class="button" ng-click="GetDataOnCustomView()"> DONE </button>
                <button class="button" ng-click="ShowTodaysData(0)">
                    CANCEL
                </button>
            </ion-footer-bar>
        </ion-view>
        <ion-view title="customData" id="customDatesData" ng-show="isVisibleCustomData">
            <ion-view title="custom">
                <ion-content padding="true" style="overflow:auto">
                    <ion-item>
                        <div style="text-align:center">
                            <label style="text-align:center; align-content:center;font-weight:bold"> From :</label>
                            <label> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</label>
                        </div>

                        <div style="text-align:center">
                            <label style="text-align:center; align-content:center;font-weight:bold"> To :</label>
                            <label> {{datepickerToObject.inputDate | date:'dd - MMMM - yyyy'}}</label>
                        </div>
                    </ion-item>
                    <ion-item ng-repeat="item in listItems" ng-click="GoToItem(item)">
                        <div style="float:left" class="col-75">
                            <div class="row">
                                <label style="font-weight:bold">{{item.ItemName}}</label>
                            </div>
                            <div class="row">
                                <label>Total Quantity : </label>
                                <label>{{item.TotalItems}}</label>
                            </div>
                            <div class="row">
                                <label>Total Price : </label>
                                <label>{{item.TotalCost}}</label>
                            </div>

                        </div>
                        <div style="float:right;vertical-align:middle" class="col-25">
                            <button ng-click="DeleteInventoryItem(item)"> Delete </button>
                        </div>
                    </ion-item>

                </ion-content>

            </ion-view>


            <drawer side="rightTop" style="height:230px;">

                <ion-view>

                    <ion-content>
                        <ion-item class="bar bar-header bar-dark">
                            <h1 class="title">Search Criteria </h1>

                            <button menu-toggle="right" id="buttonCloseSearchCustom" class="button-icon icon ion-android-cancel" style="float:right;margin-top:-12px !important;position:absolute;margin-left:-15px!important;font-size:10px !important;color:white" ng-click="toggleDrawer()"></button>

                        </ion-item>

                        <ion-item>
                            <label>Search : </label>
                            <input type="text" style="float:right;border:2px solid black" ng-model="SearchByNameInCustomView" id="SearchByNameInCustomView" ng-change="SearchDataInCustomView()">
                        </ion-item>


                    </ion-content>
                </ion-view>
            </drawer>

            <ion-footer-bar class="bar-dark">


                <button class="button" style="float:left" ng-click="showPopup()"> Add </button>


                <button class="button" ng-click="toggleDrawer()" style="float : right !important ">
                    <img src="../../../images/search1.png" style="width:30px;height:25px;" />
                </button>


            </ion-footer-bar>
        </ion-view>
    </ion-tab>
</ion-tabs>